

.superContainer{
    display:flex;
    flex-direction:column;
    height:90vh;
    width:100vw;
}   
    /* Messages at top of screen */
    .titleBar{
        color:black;
        height:10vh;
        width:100vw;
    }

    /* Content Columns */
    .subContainer{
        height:80vh;
        width:100vw;
        display:grid;
        grid-auto-columns:1fr;
        grid-auto-flow: column;
        /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    }
        .subContainerOne{
            display:flex;
            align-items: center;
            flex-direction:column;
            
            height:70vh;
            width:30vw;
            /* background-color:blue; */
        
        }
        .subContainerTwo{
            display:flex;
            justify-content: center;
            height:70vh;
            width:30vw;
            /* background-color:red; */
        }
        .subContainerThree{
            display:flex;
            justify-content: center;
            height:70vh;
            width:30vw;
            /* background-color:yellow; */
        }
        /* First Column  */
        .messageButton{
            height:5vh;
            width:fit-content;
        }

        .messages-container {
            color: #444;
          }
          
          .messages-container p {
            font-size: medium;
            text-align: left;
          }
          
          .message {
            border-bottom: 1px solid #444;
          }
          
          .bold {
            font-weight: bolder;
            font-size: large;
          }
        /* Second Column */
        form {
            height:60%;
            display: flex;
            flex-direction: column;
            /* justify-content: space-evenly; */
            flex-grow: 1;
            margin-left:.5rem;
        }
        
        .assign-form {
            max-height: 18rem;
            background: #444;
            color: #fff;
            border: 2px solid #444;
          }

          .assign-form select {
            background: blue;
            color: #fff;
            width: 85%;
            margin: auto;
          }

        .rig-button {
            background: #888;
            color: #fff;
            box-shadow: -2px 5px 5px -2px blue;
            width: 95%;
            margin: 1.3rem auto 0 auto;
        }


        /*Third Column*/
        .assignments-container {
            margin-top:1.40rem;
            max-height: 18rem;
            color: #fff;
            background: #444;
            margin-left: 5rem;
            min-width: 50%;
            max-width: 53%;
            text-align: center;
          }

        table {
            padding-left: 2.75rem;
        }
            td {
                padding: 0.3rem 1rem;
                background-color: blue;
            }
