

.superContainer{
    display:flex;
    flex-direction:column;
    height:90vh;
    width:100vw;
}   
    /* Messages at top of screen */
    .titleBar{
        color:black;
        height:10vh;
        width:100vw;
    }

    /* Content Columns */
    .subContainer{
        height:80vh;
        width:100vw;
        display:grid;
        grid-auto-columns:1fr;
        grid-auto-flow: column;
        /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    }
        .subContainerOne{
            display:flex;
            align-items: center;
            flex-direction:column;
            
            height:70vh;
            width:30vw;
            /* background-color:blue; */
        
        }
        .subContainerTwo{
            display:flex;
            justify-content: center;
            height:70vh;
            width:30vw;
            /* background-color:red; */
        }
        .subContainerThree{
            display:flex;
            justify-content: center;
            height:70vh;
            width:30vw;
            /* background-color:yellow; */
        }
        /* First Column  */
        .messageButton{
            height:5vh;
            width:fit-content;
        }
        /* Second Column Forms */
        form {
            height:60%;
            display: flex;
            flex-direction: column;
            /* justify-content: space-evenly; */
            flex-grow: 1;
            margin-left:.5rem;
        }
        
        a, a:visited {
            color: #fff;
        }
        
        input[type="text"],
        input[type="password"],
        button,
        textarea {
          font-family: 'Nunito', sans-serif;
          font-size: 22px;
          
          border-radius: 0.5rem;
        }
        
        label,
        button {
          margin-top: 1rem;
        }
        
       